:root {
  /*  PALETA DE COLORES */
  --color-primario: #ff0080;   /* Rosado brillante - acento emocional */
  --color-secundario: #ffff00; /* Amarillo positivo - estímulo visual */
  --color-acento: #31aac1;     /* Calipso calmante - equilibrio */

  --color-fondo: #fdfdfd;
  --color-texto: #333333;
  --color-footer: #023047;
  --color-sombra: rgba(0, 0, 0, 0.1);

  /*  ESTILOS GENERALES */
  --transicion-base: all 0.3s ease;
  --sombra-base: 0 4px 12px var(--color-sombra);
  --radio: 1rem;

  /*  TIPOGRAFÍAS */
  --fuente-principal: "Poppins", sans-serif;
  --fuente-secundaria: "Nunito", sans-serif;
}
